.featured-tour-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    padding: 16px;
  }
  
  .tour-card-item {
    flex: 1 1 calc(25% - 16px);
    box-sizing: border-box;
    max-width: 25%;
  }
  
  .tour-card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits perfectly within the container */
  }
  
  @media (max-width: 768px) {
    .tour-card-item {
      flex: 1 1 calc(50% - 16px);
      min-width: 45%;
      align-items: center;
      justify-content: space-around;
    }
  }
  
  @media (max-width: 480px) {
    .tour-card-item {
      flex: 1 1 100%;
      min-width: 80%;
      align-items: center;
    }
  }
  